@import "tailwindcss";
@import "./colors.css";

@theme inline {
  --font-headline: var(--font-headline);
  --font-body: var(--font-body);
}

body {
  background: var(--color-background);
  color: var(--color-on-background);
}

.transition-soft {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
